# Ігнорувати папку з модулями npm
node_modules/

# Ігнорувати кеш файли
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ігнорувати тимчасові файли операційної системи
.DS_Store

# Ігнорувати вихідні файли, якщо вони є
dist/
build/

# Ігнорувати конфіденційні файли (якщо вони є)
.env